:root {
  --dot: #909090;
  --line-light: #f8f8f8;
  --line-dark: #485563;
}
.loader-dark,
.loader-light {
  margin: auto;
  height: 300px;
  width: 300px;
}
.dot {
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 80px;
  margin-left: 150px;
  height: 20px;
  width: 20px;
  background: var(--dot);
  border-radius: 5rem;
}
/* Dark Dots */
.loader-dark .dot-1 {
  margin-left: 80px;
  animation: waveUp 2s, smallExtendLight 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.loader-dark .dot-2{
  margin-left: 115px;
  animation: waveUp 2s, largeExtendLight 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.15s;
}
.loader-dark .dot-3{
  animation: waveUp 2s, smallExtendLight 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
}
.loader-dark .dot-4{
  margin-left: 185px;
  animation: waveUp 2s, largeExtendLight 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.45s;
}
.loader-dark .dot-5 {
  margin-left: 220px;
  animation: waveUp 2s, smallExtendLight 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
}

/* Light Dots */
.loader-light .dot-1 {
  margin-left: 80px;
  animation: waveUp 2s, smallExtendDark 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.loader-light .dot-2{
  margin-left: 115px;
  animation: waveUp 2s, largeExtendDark 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.15s;
}
.loader-light .dot-3{
  animation: waveUp 2s, smallExtendDark 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
}
.loader-light .dot-4{
  margin-left: 185px;
  animation: waveUp 2s, largeExtendDark 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.45s;
}
.loader-light .dot-5 {
  margin-left: 220px;
  animation: waveUp 2s, smallExtendDark 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
}

@keyframes waveUp {
  0%,
  15% {
    margin-top: 80px;
  }
  45%,
  65% {
    margin-top: 40px;
  }
  85%,
  100% {
    margin-top: 80px;
  }
}

@keyframes smallExtendDark {
  0%,
  8% {
    background-color: var(--dot);
    height: 20px;
  }
  14%,
  34% {
    background-color: var(--line-dark);
    height: 47.5px;
  }
  46%,
  100% {
    background-color: var(--dot);
    height: 20px;
  }
}

@keyframes smallExtendLight {
  0%,
  8% {
    background-color: var(--dot);
    height: 20px;
  }
  14%,
  34% {
    background-color: var(--line-light);
    height: 47.5px;
  }
  46%,
  100% {
    background-color: var(--dot);
    height: 20px;
  }
}

@keyframes largeExtendDark {
  0%,
  8% {
    background-color: var(--dot);
    height: 20px;
  }
  14%,
  34% {
    background-color: var(--line-dark);
    height: 82.5px;
  }
  46%,
  100% {
    background-color: var(--dot);
    height: 20px;
  }
}

@keyframes largeExtendLight {
  0%,
  8% {
    background-color: var(--dot);
    height: 20px;
  }
  14%,
  34% {
    background-color: var(--line-light);
    height: 82.5px;
  }
  46%,
  100% {
    background-color: var(--dot);
    height: 20px;
  }
}
