.light-bg{
  background-color: #fff;
}
.dark-bg{
  background-color: #222;
}
.light-primary{
  color: #222;
}
.dark-primary{
  color: #fff;
}
.light-secondary{
   color: #888;
 }
.dark-secondary{
  color: #bbb;
}
